{:deps {org.clojure/clojure        {:mvn/version "1.12.0-alpha9"}
        org.clojure/clojurescript  {:mvn/version "1.11.132"}
        thheller/shadow-cljs       {:mvn/version "2.28.12"}
        no.cjohansen/replicant     {:git/url "https://github.com/cjohansen/replicant"
                                    :git/sha "0cdb26fbce06e83443971a6d474fd097364c0a4a"}
        cjohansen/gadget-inspector {:mvn/version "0.2023.04.12"}}}