{:deps true
 :dev-http {8787 {:root "public"
                  :host "0.0.0.0"}}
 :builds
 {:app {:target :browser
        :output-dir "public/js/compiled"
        :asset-path "/js/compiled"
        :modules {:main {:init-fn mini.app/init!}}}}}